version: 1.0.0.{build}
image: Visual Studio 2015
services: mssql2008r2sp2
build: off
artifacts:
- path: db\test_db.dacpac
  name: Mydacpac
deploy:
- provider: Local
  Mydacpac.deploy_database: true
  Mydacpac.connection_string: Server=(local)\SQL2008R2SP2;Database=my_app;Integrated security=SSPI;
